	<header>
			<ul class= "menu">
				<li class = "menuOptions">Clients</li>
				<li class = "menuOptions">Vision</li>
				<li class = "menuOptions">What We DO</li>
				<li class = "menuOptions">Contact Us</li>
				<li class = "menuOptions">About Us</li>
			</ul>
		</header>
		<div id = "container">
			<div class = "coverText"> 
				<div class = "mainText">IMPULSE HMIS</div>
				<div class = "subText">The complete software solution for the organizing of your Hospital</div>
			</div>
			<div class = "coverImage"></div>
			
			<div class = "coverInfo">
				<div class = "subCobver">
					<div class ="contactUs"> 
						<span class = "socialIcon" id = "faceBook"></span>
						<span class = "socialIcon" id = "google"></span>
						<span class = "socialIcon" id = "youtube" ></span>
						<span class = "socialIcon" id = "twitter"></span>
					</div>
					<div class ="contactUs"> <div> Call Now  : <span>969-885-6233</span></div></div>
				</div>
				<div class = "subCobver">
					<div class ="contactUs width100"><div> <span><a href="#secondPage">IMPULSE HMIS</a></span> A Software suitable for a 
					complete Hospital processses transformation with small Time and Efforts.
					</div></div>
				</div>
			<div>
			
			<div class = "loginDiv"></div>
		</div>

		<footer>Powered by Impulse Technologies</footer>